---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$logo-dark:  #354C9F;
$logo-light: #A7D2EE;
$logo-text:  #3e4555;
$charcoal:   #636363;
$ash:        #C2C2C2;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import "normalize";
@import "syntax-highlighting";

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin main-content-centered {
    width: 100%;
    max-width: $content-width;
    margin: 0 auto;
    padding: 0 1em;
}

@mixin reset-ul {
    list-style: none;
    padding: 0;
}

html {
    line-height: 1.5;
    color: $logo-text;
    background-color: #fff;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.9em;
}

a {
    color: $logo-dark;
    text-decoration: none;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

    &-header {
        border-bottom: 1px solid $charcoal;
    }

    &-content {
        @include main-content-centered;

        flex: 1 0 auto;
    }

    &-footer {
        background: $charcoal;
        color: $ash;
        padding: 1.5em 0;

        & a {
            color: $logo-light;
        }
    }
}

.masthead {
    @include main-content-centered;

    display: flex;
    align-items: center;

    @include media-query($on-palm) {
        display: block;
    }

    &-title {
        display: block;

        background: url('../images/logo-full-name.svg') no-repeat center;
        background-size: contain;
        text-indent: -9999px;
        width: 300px;
        height: 75px;
    }

    &-nav {
        flex: 1 1 auto;
    }
}

.menu {
    @include reset-ul;
    display: flex;
    justify-content: flex-end;

    &-item {
        margin: 0 0 0 1em;
    }

    @include media-query($on-palm) {
        display: block;

        &-item {
            display: inline;
            margin: 0 1em 0 0;
        }
    }
}

.zoom {
    @include main-content-centered;

    display: flex;
    align-items: center;

    @include media-query($on-palm) {
        flex-direction: column;
    }

    &-logo {
        width: 100%;
        height: 100%;
        max-width: 50px;
        max-height: 50px;
        margin: 0 0 1em;
    }

    &-description {
        max-width: 100%;
        margin: 0;
        padding: 0 1em;

        &-right {
          margin-left: auto;
        }
    }
}

.social-media {
    &-list {
        @include reset-ul;
        margin-top: 2.5em;
    }

    &-item {
        display: flex;
    }

    &-icon {
        padding: 0 1em 0 0;

        & > svg {
            width: 24px;
            height: 24px;
        }
    }
}

.contact {
    margin: 2em 0;
    label {
        margin-top: 2em;
        display: block;
        span {
            display: block;
            &.required::after {
                display: inline;
                content: " *";
                color: red;
                font-weight: bold;
            }
        }
        input, textarea {
            display: block;
            width: 100%;
            margin-bottom: 2em;
            background-color: #fafafa;
            border: 1px solid #dbdbe0;
            border-radius: 2px;
            box-shadow: none;
            padding: 0.375em 0.75em;
        }
    }
}

.home {
    .summary {
        font-weight: bold;
    }
}

.rss-subscribe {
    float: right;
}

.post .post-title {
    margin-bottom: 8px;
}

.post .post-meta {
    font-style: italic;
    margin-bottom: 32px;
    margin-top: 0;
    color: lighten($logo-text, 20%);
}

.post img {
    width: 100%;
}

.post pre {
    overflow-x: scroll;
    padding-left: 5px;
}

.post a {
    text-decoration: underline;
}

.team-member {
    margin-bottom: 50px;
}

.team-member .headshot {
    width: 125px;
    margin-right: 50px;
    float: left;
}

.post a.button {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    color: white;
    background-color: $logo-dark;
    border-color: $logo-text;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    width: 35%;
    min-width: 90px;

    &:hover {
        background-color: darken($logo-dark, 10%);
        border-color: darken($logo-text, 12%);
    }
}

.post table {
    border: 1px solid $ash;
    border-collapse: collapse;
    th, td {
        border: 1px solid $ash;
        padding: 8px;
    }
}