---
layout: default
permalink: /
---

<div class="home">

  <h1 class="page-heading">We know Rust.</h1>

  <p>
    Rust, a new systems programming language, is a great choice for projects whose goals align with Rust's-- being as fast as C but with memory and thread safety checks that prevent segfaults and data races.
    With modern tooling and a growing ecosystem, <a href="https://www.rust-lang.org/friends.html">more companies</a> are seeing a benefit from using Rust in their products.
  </p>

  <p class="summary">
    Integer 32 is a consultancy that delivers high-quality Rust code.
    We can help you evaluate Rust for your problem, build a Rust MVP, and get your developers up to speed on Rust.
  </p>

  <p>
    We can work with you in any or all of the following capacities, depending on what stage of Rust adoption you are in.
    <a href="/contact">Contact us</a> to get the ball rolling.
  </p>

  <h2>Prototypes for Rust Evaluation</h2>

  <p>
    Integer 32 specializes in helping companies get started with Rust.
    We're experienced with Rust and production software tradeoffs.
    We will work with you to identify your most important functionality and develop a prototype or MVP so that you can evaluate Rust's suitability for your problem.
    We deliver tests, documentation, and performance benchmarks for maximum knowledge transfer.
    This type of engagement is ideal to reduce risk before deciding to divert your team from their current projects.
  </p>

  <h2>Rust Training</h2>

  <p>
    We offer custom training to help your team hit the ground running in understanding, extending, and maintaining your company's Rust code.
    We are experienced in helping programmers from high level and low level backgrounds learn Rust's nuances and become productive in the language.
  </p>

  <h2>Team Augmentation</h2>

  <p>
    If you've already decided to add Rust to your tech stack, we can work with your team to share what we know about writing software in Rust.
    We have experience in pairing environments and can also offer constructive code reviews.
    We are available for short-term onsite or long-term remote work with your team.
  </p>

  <p>
    <a class="btn btn-primary" href="/contact">Contact us to discuss your needs</a>.
  </p>
</div>
