<footer class="site-footer">
  <div class="zoom">
    <img class="zoom-logo" src="/images/logo-badge-white.svg" alt="Integer 32 Badge Logo" />

    <p class="zoom-description">{{ site.description }}</p>

    <ul class="social-media-list">
      {% if site.email %}
      <li>
        {% include icon-mail.html email=site.email %}
      </li>
      {% endif %}

      {% if site.github_username %}
      <li>
        {% include icon-github.html username=site.github_username %}
      </li>
      {% endif %}

      {% if site.gitlab_username %}
      <li>
        {% include icon-gitlab.html username=site.gitlab_username %}
      </li>
      {% endif %}

      <li>
        {% include icon-mastodon.html username='i32' %}
      </li>
    </ul>
  </div>

  <div class="zoom">
    <p class="zoom-description">
      {% include icon-mastodon.html username='carol' %}
    </p>
    <p class="zoom-description zoom-description-right">
      {% include icon-mastodon.html username='JakeGoulding' %}
    </p>
  </div>
</footer>
