<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% capture title %}{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}{% endcapture %}
  {% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | strip_newlines }}{% endif %}{% endcapture %}
  {% assign url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}

  <title>{{title}}</title>
  <meta name="description" content="{{ description }}">

  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <link rel="icon" href="{{ "/images/favicon/16.png" | prepend: site.baseurl }}" sizes="16x16" type="image/png">
  <link rel="icon" href="{{ "/images/favicon/32.png" | prepend: site.baseurl }}" sizes="32x32" type="image/png">
  <link rel="icon" href="{{ "/images/favicon/48.png" | prepend: site.baseurl }}" sizes="48x48" type="image/png">
  <link rel="icon" href="{{ "/images/favicon/62.png" | prepend: site.baseurl }}" sizes="62x62" type="image/png">
  <link rel="icon" href="{{ "/images/favicon/192.png" | prepend: site.baseurl }}" sizes="192x192" type="image/png">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ url }}">
  <meta property="og:image" content="{{ '/images/social/facebook.png' | prepend: site.baseurl | prepend: site.url }}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">
  <meta name="twitter:url" content="{{ url }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ '/images/social/twitter.png' | prepend: site.baseurl | prepend: site.url }}">

  <meta name="google-site-verification" content="YPM_jxFV831stneS1KRxfe2QVkKoIvdhgZg2Yt4EmZc" />
</head>
