<header class="site-header">
  <div class="masthead">
    <a class="masthead-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="masthead-nav">
      <ul class="menu">
        <li class="menu-item"><a href="{{ '/blog' | prepend: site.baseurl }}">Blog</a></li>
        <li class="menu-item"><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
        <li class="menu-item"><a href="{{ '/contact' | prepend: site.baseurl }}">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
