{% capture icon %}{% include icon-gitlab.svg %}{% endcapture %}

<a class="social-media-item" href="https://gitlab.com/{{ include.username }}"><span class="social-media-icon">{{ icon | strip_newlines }}</span><span class="social-media-name">{{ include.username }}</span></a>
