{% capture icon %}{% include icon-mail.svg %}{% endcapture %}

<a class="social-media-item" href="mailto:{{ include.email }}"><span class="social-media-icon">{{ icon | strip_newlines }}</span><span class="social-media-name">{{ include.email }}</span></a>
