{% capture icon %}{% include icon-mastodon.svg %}{% endcapture %}

<a class="social-media-item" rel="me" href="https://crabby.fyi/@{{ include.username }}"><span class="social-media-icon">{{ icon | strip_newlines }}</span><span class="social-media-name">@{{ include.username }}@crabby.fyi</span></a>
