<!DOCTYPE html>
<html>
  {% include head.html %}

  <body class="site">
    {% include header.html %}

    <main class="site-content">
      {{ content }}
    </main>

    {% include footer.html %}
  </body>
</html>
